<h1>New Press Release</h1>

<%= form_with model: @pressRelease do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
     <% @pressRelease.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

   <div>
    <%= form.label :organization_name %><br>
    <%= form.text_field :organization_name %>
     <% @pressRelease.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
     <% @pressRelease.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>