<h1>New Press Release</h1>

<%= form_with model: @pressRelease do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @pressRelease.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :organization %><br>
    <tbody>
      <% @organizations.each do |org| %>
        <tr>
          <th>
            <%= form.radio_button :organization_id, org.id %>
            <%= org.name %></th>
        </tr>
      <% end %>
    </tbody>
    <% @pressRelease.errors.full_messages_for(:organization_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
    <% @pressRelease.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
